---
import TechIcon from '@/components/icons/TechIcon.astro';
import CardLayout from '@/layouts/CardLayout.astro';
import type { IconKey } from '@/consts/icons';
import WebIcon from './icons/common/WebIcon.astro';

interface Props {
  title: string;
  description: string;
  techs: IconKey[];
  repository: string;
  site?: string;
}

const { title, description, techs, repository, site } = Astro.props;
---

<CardLayout class="card">
  <h3 class="title">{title}</h3>

  <h4 class="description">
    {description}
  </h4>

  <div class="tech_wrapper">
    <div>
      {techs.map((tech) => <TechIcon iconKey={tech} />)}
    </div>
  </div>

  <div class="buttons">
    <a href={repository} target="_blank" rel="noopener noreferrer">
      <TechIcon iconKey="github" />
    </a>

    {
      site != null && (
        <a href={site} target="_blank" rel="noopener noreferrer">
          <WebIcon />
        </a>
      )
    }
  </div>
</CardLayout>

<style lang="scss">
  .card {
    padding: 12px;
    background-color: $color-background;
    border-radius: 10px;
    border: solid 1px $color-primary;
    position: relative;

    &[data-haslink='true'] {
      transition: scale $transition;
      border: solid 1.5px $color-accent;

      &:hover {
        scale: 1.03;
      }
    }

    .link {
      cursor: pointer;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
</style>
