---
import ThemeSwitcher from './shared/ThemeSwitcher.astro';
import { getMenu, getSiteSettings } from 'emdash';
import icon from '@/assets/icon.webp';
import HambergerMenu from './HambergerMenu.astro';

const settings = await getSiteSettings();
const name = settings?.title || 'My Profile';
const siteLogo = settings.logo;

const menu = await getMenu('primary');

interface Props {
  fixed?: boolean;
}

const { fixed = false } = Astro.props;
---

<header class="header" data-fixed={fixed}>
  <a href="/" class="title-container">
    <img
      class="logo-img"
      src={siteLogo?.url ?? icon.src}
      alt={siteLogo?.alt || name}
    />
    <h3 class="title">{name}</h3>
  </a>

  <nav class="nav">
    {
      menu?.items.map((l) => (
        <a class="link" href={l.url}>
          {l.label}
        </a>
      ))
    }
  </nav>

  <ThemeSwitcher />

  <HambergerMenu menu={menu} class="hamberger-menu" />
</header>

<style lang="scss">
  .header {
    height: $header-height;
    padding-inline: 40px;

    background-color: rgba($color: $color-background, $alpha: 0.5);
    backdrop-filter: blur(4px);

    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: $space-md;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-top;

    @include tablet {
      padding-inline: 20px;
      grid-template-columns: 1fr auto auto;
    }

    .title-container {
      display: flex;
      align-items: center;
      gap: $space-sm;

      .logo-img {
        height: 40px;
        background-color: $color-white;
        border-radius: $radius-full;
      }

      .title {
        font-size: $font-size-lg;
        font-weight: normal;
        color: $color-text;

        @include mobile {
          font-size: $font-size-base;
        }
      }
    }

    .nav {
      display: flex;
      gap: $space-md;

      @include tablet {
        display: none;
      }

      .link {
        color: $color-text;
        transition: color $transition-fast;

        &:hover {
          color: $color-accent;
        }
      }
    }
  }
</style>
