---
import { PER_PAGE } from '@/consts/settings';

export type PageToFn = (page: number) => { href: string };

interface Props {
  postNum: number;
  page: number;
  pageTo: PageToFn;
}

const { postNum, page, pageTo } = Astro.props;

const DISPLAY_PAGE_RANGE = 2;

const pageNum = Math.ceil(postNum / PER_PAGE);
const min = page - DISPLAY_PAGE_RANGE < 1 ? 1 : page - DISPLAY_PAGE_RANGE;
const max =
  page + DISPLAY_PAGE_RANGE > pageNum ? pageNum : page + DISPLAY_PAGE_RANGE;
const displayPageNums = Array.from(
  { length: max - min + 1 },
  (_, i) => min + i,
);
---

<div class="pagenation">
  {
    displayPageNums.at(0)! > 1 && (
      <a class="page_link" data-current={page === 1} href={pageTo(1).href}>
        1
      </a>
    )
  }

  {displayPageNums.at(0)! > 2 && <div class="leader">•••</div>}

  {
    displayPageNums.map((p) => (
      <a class="page_link" data-current={page === p} href={pageTo(p).href}>
        {p}
      </a>
    ))
  }

  {displayPageNums.at(-1)! < pageNum - 1 && <div class="leader">•••</div>}

  {
    displayPageNums.at(-1)! < pageNum && (
      <a
        class="page_link"
        data-current={page === pageNum}
        href={pageTo(pageNum).href}
      >
        {pageNum}
      </a>
    )
  }
</div>

<style lang="scss">
  .pagenation {
    $size: 30px;

    display: flex;
    gap: 10px;

    .leader {
      line-height: $size;
    }

    .page_link {
      width: $size;
      height: $size;
      border: solid 1px $color-accent;
      border-radius: 5px;
      text-align: center;
      line-height: $size;

      &[data-current='true'] {
        background-color: $color-accent;
        color: white;
      }
    }
  }
</style>
