---
import { getTermsForEntries, type TaxonomyTerm } from 'emdash';
import PostCategories from './PostCategories.astro';
import type { ContentEntry } from 'emdash';
import type { Post } from '../../emdash-env';
import PostListItem from './PostListItem.astro';

interface Props {
  posts: ContentEntry<Post>[];
  categories: TaxonomyTerm[];
  currentCategory?: TaxonomyTerm | null;
}

const { posts, currentCategory, categories } = Astro.props;

const categoriesByEntry = await getTermsForEntries(
  'posts',
  posts.map((p) => p.data.id),
  'categories',
);

const postsWithCategory = posts.map((post) => ({
  post,
  categories: categoriesByEntry.get(post.data.id) ?? [],
}));
---

<div class="container">
  <section class="categories-wrapper">
    <PostCategories categories={categories} currentCategory={currentCategory} />
  </section>

  <section class="articles-wrapper">
    <div class="articles">
      {
        postsWithCategory.length === 0 ? (
          <p>記事はありません</p>
        ) : (
          postsWithCategory.map(({ post: { data }, categories }) => (
            <PostListItem
              title={data.title}
              excerpt={data.excerpt}
              publishedAt={data.published_date ?? data.createdAt}
              link={`/post/${data.slug}`}
              tags={categories.map((c) => ({
                label: c.label,
                link: `/posts/${c.slug}`,
              }))}
            />
          ))
        )
      }
    </div>
  </section>
</div>

<style lang="scss">
  .container {
    min-height: $main-height;
    height: 100%;

    .categories-wrapper {
      margin-inline: auto;
      padding: 40px;
      width: 100%;
      max-width: 1200px;

      @include mobile {
        padding: 20px;
      }
    }

    .articles-wrapper {
      margin-inline: auto;
      max-width: $content-width;

      .articles {
        margin-inline: auto;
        max-width: 1200px;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 20px;
      }
    }
  }
</style>
