---
import dayjs from 'dayjs';
import CardLayout from '@/layouts/CardLayout.astro';
import type { Post } from '../../emdash-env';
import type { ContentEntry } from 'emdash';
import { Image } from 'emdash/ui';
import penguinImg from '@/assets/penguin.webp';

interface Props {
  post: ContentEntry<Post>;
}

const { post } = Astro.props;

const formattedDate = dayjs(
  post.data.published_date ?? post.data.publishedAt,
).format('YYYY/MM/DD');
const href = `/post/${post.data.slug}`;
---

<CardLayout class="card" href={href}>
  <h3 class="title">{post.data.title}</h3>

  <div class="left">
    <div class="content">
      <p>{post.data.excerpt}</p>
    </div>
    <p class="date">{formattedDate}</p>
  </div>

  <div class="right">
    <Image
      image={post.data.featured_image ?? penguinImg.src}
      class="thumbnail"
    />
  </div>
</CardLayout>

<style lang="scss">
  .card {
    overflow-x: scroll;
    display: grid;
    grid-template-rows: 1.5rem 1fr;
    grid-template-columns: 1fr 100px;
    gap: 10px;
    background-color: $color-background-light;
    color: $color-text-light;

    & > div {
      min-width: 0;
    }

    .title {
      grid-column: 1 / -1;
      font-size: $font-size-base;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .left {
      flex: 1;
      display: flex;
      flex-direction: column;

      .content {
        height: 80px;
        font-size: $font-size-sm;
        overflow: hidden;

        @include mobile {
          height: 75px;
        }
      }

      .date {
        margin-top: auto;
        font-size: $font-size-sm;
        text-align: end;
      }
    }

    .right {
      width: 100px;
      height: 100px;
      border-radius: 5px;
      overflow: hidden;

      .thumbnail {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
      }
    }
  }
</style>
