---
import dayjs from 'dayjs';

interface Props {
  title: string;
  excerpt: string | undefined;
  publishedAt: string | Date;
  link: string;
  tags: { label: string; link: string }[];
}

const { title, excerpt, publishedAt, link, tags } = Astro.props;
---

<asticle class="post-item">
  <a href={link} class="post-link">
    <time datetime={publishedAt?.toString()}>
      {dayjs(publishedAt).format('YYYY年MM月DD日')}
    </time>

    <h2 class="title">{title}</h2>
    <p>{excerpt}</p>
  </a>

  <div class="post-tags">
    {
      tags.map((tag) => (
        <a href={tag.link} class="post-tag">
          {tag.label}
        </a>
      ))
    }
  </div>
</asticle>

<style lang="scss">
  .post-item {
    padding: $space-md $space-md $space-xl;
    backdrop-filter: blur(2px);
    border-bottom: solid 1px $color-background-muted;

    &:last-child {
      border-bottom: none;
    }

    .post-link {
      color: $color-text;
      transition: color $transition-fast;
      display: block;
      cursor: pointer;

      &:hover {
        color: $color-accent;
      }

      .title {
        padding: $space-sm 0;
        font-weight: 600;
      }
    }

    .post-tags {
      margin-top: $space-lg;

      .post-tag {
        padding: $space-xs $space-sm;
        color: $color-text;
        background-color: transparent;
        border: solid 1px $color-text;
        border-radius: $radius-sm;
      }
    }
  }
</style>
