---
import CardLayout from '@/layouts/CardLayout.astro';
import { filterIconKeys } from '@/utils/icon';
import TechIcon from './icons/TechIcon.astro';
import WebIcon from './icons/common/WebIcon.astro';

interface Props {
  title: string;
  summary?: string;
  tags: string[];
  repository: string;
  site?: string;
}

const { title, summary, tags, repository, site } = Astro.props;

const techsIconKeys = filterIconKeys(tags);
---

<CardLayout class="card">
  <h3 class="title">{title}</h3>
  <h4 class="summary">{summary}</h4>
  <div class="tech_wrapper">
    <div>
      {techsIconKeys.map((tech) => <TechIcon iconKey={tech} />)}
    </div>
  </div>

  <div class="buttons">
    <a href={repository} target="_blank">
      <TechIcon iconKey="github" />
    </a>

    {
      site != null && (
        <a href={site} target="_blank">
          <WebIcon />
        </a>
      )
    }
  </div>
</CardLayout>

<style lang="scss">
  .card {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: $color-background-light;
    color: $color-text-light;

    .title {
      font-size: $font-size-base;
    }

    .summary {
      font-size: $font-size-base;
    }

    .tech_wrapper {
      padding-block: 10px 15px;
      width: 100%;
      overflow-x: scroll;

      & > div {
        width: fit-content;
        display: flex;
        gap: 10px;
      }
    }

    .buttons {
      margin-top: auto;
      display: flex;
      flex-direction: row-reverse;
      gap: 10px;

      & > a {
        height: 30px;
        width: 40px;
        padding: 5px;
        background-color: $color-primary-light;
        display: inline-block;
        border-radius: 10px;
        text-align: center;
        transition: background-color $transition-base;

        &:hover {
          background-color: $color-accent;
        }

        & > svg {
          height: 20px;
        }

        & > svg,
        & > svg :global(path) {
          fill: $color-on-primary-light !important;
        }
      }
    }
  }
</style>
